@{
    Layout = null;  // No se utiliza el layout principal
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
    
        @RenderBody() <!-- Aquí se insertará el contenido específico de la vista -->
    
</body>
</html>
